.large-button{
    font-size : 1.2rem;
    position : relative;
    z-index : 1;
    display : inline-grid;
    padding : 0 2em;
    border-radius: 50%;
    place-items : center;
    aspect-ratio : 1; // width/height
    @include small-up{
        font-size : 1.7rem;
    }
    @include medium-up{
        font-size : 2rem;
    }

    &::after{
        content :'';
        position : absolute;
        z-index :-1;
        background: hsl( var(--clr-white) / .1);
        width :100%;
        height :100%;
        border-radius: 50%;
        opacity :0;
        transition: opacity 500ms linear,transform 600ms ease-in-out;
    }
    &:focus{
        outline : none;
    }

    &:hover::after,&:focus::after{
        opacity : 1;
        transform : scale(1.5);
    }
}


.dot-indicators>*{
    cursor : pointer;
    border : 0;
    border-radius : 50%;
    aspect-ratio : 1;
    padding:.5em;
    background-color: hsl( var(--clr-white) / .25);
    &:hover,&:focus{
        background-color: hsl( var(--clr-white) / .5);
        
    }
    &[aria-selected="true"]{
        background-color: hsl( var(--clr-white) / 1); 
    }
}

.num-indicators>*{
    font-family: var(--ff-serif);
    cursor : pointer;
    border : 1px solid hsl( var(--clr-light)/0.2);
    color : hsl ( var(--clr-white));
    border-radius : 50%;
    aspect-ratio : 1;
    padding-inline:1rem;
    background-color: transparent;
    &:hover,&:focus{
        border: 1px solid  hsl( var(--clr-white));
    }
    &[aria-selected="true"]{
        background-color: hsl( var(--clr-white) / 1); 
        color : hsl( var(--clr-dark));
    }
}