.destination{
    background-image : url("../../assets/destination/background-destination-mobile.jpg");
    .grid-container{
        --flow-space : 2rem;
        grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';

        &>.numbered-title{
            grid-area : title;
        }
        &>img{
            grid-area : image;
            max-width : 50%;
            align-self: start;
    
        }
        &>.tab-list{
            --gap : 2rem;
            grid-area : tabs;
            align-self: start;
        }
        &>.destination-info{
            grid-area : content;
        }
        
    }

    

   
    .destination-meta{
        flex-direction : column;
        border-top: 1px solid hsl( var(--clr-white) / .1);
        padding-top : 2.5rem;
        margin-top : 2.5rem;
        p{
            font-size : 1.75rem;
        }
    }

    @include small-up{
        background-image : url("../../assets/destination/background-destination-tablet.jpg");
        .numbered-title{
            justify-self : start;
            margin-top : 2rem;
        }
        .destination-meta{
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    @include medium-up{
        background-image : url("../../assets/destination/background-destination-desktop.jpg");
        .grid-container{
            justify-items : start;
            align-content : start;
            grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image content .';
            &>img{
                max-width : 90%;
            }
        }
        .destination-meta{
            --gap : min(8vw,6rem);
            justify-content: flex-start;
        }
        

    }

}